body {
    color: #000000;
    background-color: #E8E8E8;
    text-align: justify;
    text-indent: 50px;
    font-family: Verdana, sans-serif;
    list-style-position: inside;
    margin: 0px 100px 100px 100px;
  }
a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover, a:active {
  background-color:	#444444;
  color: white;
}
.header {
  background-color: #CFCFCF;
  text-align: center;
  padding: 20px;
}

span.hl {
    color: 	#55acee;
    display: inline;
} 

.center {
  text-align: center;
  font-weight: bold;
}
.end {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: bold;
}
.topnav {
  overflow: hidden;
  background-color: #808080;

}
.topnav a:link, a:visited {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 10px;
  text-decoration: none;

}
.topnav a:hover, a:active {
  background-color: #444444;
  color: white;
}